@import url(https://fonts.googleapis.com/css?family=Crimson+Text:regular,italic,600,600italic,700,700italic);
header {
  background-color:#000000;
  display:flex;
  align-items:center;
  position:sticky;
  top:0;
  z-index:999;
  justify-content:space-between;
  padding:10px 20px;
  color:white;
  animation:fade-in 0.5s ease-out;
}
body{
  margin:0;
  padding:0;
  background-color:white;
  font-family:'Crimson Text';
}
a{
  text-decoration:none;
  color:#ffffff;
}
header img{
  width:50px;
  height:auto;
  margin-right:10px;
}
header h1{
  font-size:24px;
  color:#ffffff; 
}
#Home img{
  background-repeat:no-repeat;
  background-size:1950px 1200px;
  background-position:center;
  max-width:100%;
  height:auto;
}
#About{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#000000;
  color:white;
  padding-bottom:2% ;
}
#About h2{
  text-align:center;
  font-size:3.5rem;
  font-weight:bold;

}
#About p{
  font-size:1.5rem;
  text-align:center;
  max-width:800px;
  line-height:1.5;
  margin-bottom:2rem;
}
nav{
  margin-left:auto;
}

nav a{
  margin-left:20px;
}
main{
  padding:20px;
}
#Products{
  padding:80px 0;
  text-align:center;
}
#Products h2{
  font-size:3.5rem;
  font-weight:bold;
}
#Products p{
  font-size:1.5rem;
  max-width:800px;
  line-height:1.5;
  margin:0 auto 10px auto;
  text-align:justify
}
.container{
  display:flex;
  justify-content:center;
  margin:0 auto;
  max-width:1000px;
  padding-top:5%;
}
.card{
  display:flex;
  flex-direction:column;
  border:1px solid #ffffff;
  border-radius:8px;
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
  overflow:hidden;
  width:300px;
  margin:10px;
}
.card:hover {
  transform:translateY(-10px);
  box-shadow:0 15px 30px rgba(0, 0, 0, 0.418);
}
.card img{
  width:100%;
  height:auto;
}
.card .names{
  position:relative;
  bottom:10px;
  margin:auto;
  font-size:10px;
  font-weight:bold;
  color: #000000;
  text-align:center;
}
#shipping{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#000000;
  color:white;
}
#shipping h2{
  text-align:center;
  font-size:3.5rem;
  font-weight:bold;
}
#shipping p{
  font-size:1.5rem;
  text-align:center;
  max-width:800px;
  line-height:1.5;
}
#shipping img{
  margin:1px;
  padding-top:0.1rem;
}
.branches{
  text-align:center;
  padding:20px 0;
  background-color:#ffffff1a;
}
.branch-loactions{
  display:flex;
  justify-content:space-around;
}
.location{
  flex-basis:300px;
  padding:20px;
  text-align:center;
  margin:20px;
  border-radius:10px;
  background-color:white;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
  animation:zoomin 1s ease-in-out;
}
#contact{
  background-color:#000000;
  color:white;
  padding:190px 0;
  text-align:center;
  padding-top:2%;
  height:59vh;
}
#contact h2{
  font-size:36px;
  font-weight:bold;
  margin-bottom:40px;
}
#contact form{
  display:flex;
  flex-direction:column;
  align-items:center;
}
#contact form input,#contact form textarea{
  padding:10px;
  margin:10px;
  border-radius:5px;
  border:none;
  width:70%;
  font-size:18px;
}
label{
  font-weight:bold;
}
#contact form input[type="submit"]{
  background-color:#e05200;
  color:#ffffff;
  font-weight:bold;
  cursor:pointer;
}
#contact form input[type="submit"]:hover{
  background-color:#ffffff;
  color:rgb(0, 0, 0);
  transition:all 0.3s ease-in-out;
}
#contact form textarea{
  height:150px;
}
#contact form input:focus,#contact form textarea:focus{
  outline:none;
  box-shadow:0 0 5px white;
}
.footer{
  background-color:#ffffff;
  color:#000000;
  padding:20px;
  text-align:center;
}
.footer-row{
  display:flex;
  justify-content:space-around;
}
.footer-contents{
  width:200px;
}
.footer-contents h4{
  font-size:18px;
  margin-bottom:10px;
}
.footer-contents ul{
  list-style:none;
  padding:0;
  margin:0;
}
.footer a{
  color:#000000
}
.footer-contents li{
  margin-bottom:5px;
}
.footer-logo img{
  width:200px;
  height:200px;
}
.footer-close{
  margin-top:20px;
  font-size:12px;
}